* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .field {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }

  .field > * {
    margin-right: 10px;
  }

  .field input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .field select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .add {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3f51b5;
    color: #fff;
    cursor: pointer;
  }

  .add:hover {
    background-color: #1a237e;
  }

  .delete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }